*{
background: #191919;
}

.head{
  background: red;
  padding: 5px;
  text-align: center
  border:;
  
  
}
.hai{
  text-align: center
}

  .d2{
    text-align: center
  }

  .p1a{
    color: red;
    text-align: center
  }
