*{ background: linear-gradient(to right, #bc4e9c, #f80759);
}

body{
  font-family: 'Anton', sans-serif;
 
}

.heading1{
  background: blanchedalmond;
  padding: 10px;
  text-align: center
  
}

.wrapper{
  background: #191919;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
